<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyzcoding.jungle.common.dao.CommentsMapper">
    <resultMap id="BaseResultMap" type="com.hyzcoding.jungle.common.pojo.Comments">
        <result column="comments_id" jdbcType="INTEGER" property="commentsId"/>
        <result column="comments_content" jdbcType="VARCHAR" property="commentsContent"/>
        <result column="comments_type" jdbcType="TINYINT" property="commentsType"/>
        <result column="comments_create" jdbcType="TIMESTAMP" property="commentsCreate"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>
    <insert id="insert" parameterType="com.hyzcoding.jungle.common.pojo.Comments">
        INSERT INTO comments (comments_content, comments_type,parent_id)
        VALUES (#{commentsContent}, #{commentsType},#{parentId})
    </insert>
    <select id="selectOne" parameterType="com.hyzcoding.jungle.common.pojo.Comments" resultMap="BaseResultMap">
        SELECT * FROM comments
        <where>
            <if test="commentsId != null">
                comments_id = #{commentsId}
            </if>
            <if test="commentsType != null">
                AND comments_type = #{commentsType}
            </if>
        </where>
        LIMIT 1
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM comments
        <where>
            <if test="commentsId != null">
                comments_id = #{commentsId}
            </if>
        </where>
        LIMIT 1
    </select>
    <select id="count" parameterType="com.hyzcoding.jungle.common.pojo.Comments" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM comments
        <where>
            <if test="commentsId != null">
                comments_id = #{commentsId}
            </if>
            <if test="commentsContent != null">
                AND comments_content like #{commentsContent}
            </if>
            <if test="commentsType != null">
                AND comments_type = #{commentsType}
            </if>
        </where>
    </select>
    <select id="selectList" parameterType="com.hyzcoding.jungle.common.pojo.Comments" resultMap="BaseResultMap">
        SELECT * FROM comments
        <where>
            <if test="commentsId != null">
                comments_id = #{commentsId}
            </if>
            <if test="commentsContent != null">
                AND comments_content like #{commentsContent}
            </if>
            <if test="commentsType != null">
                AND comments_type = #{commentsType}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
        </where>
        ORDER BY comments_create DESC
    </select>
    <update id="update" parameterType="com.hyzcoding.jungle.common.pojo.Comments">
        UPDATE comments
        <set>
            <if test="commentsType != null">comments_type=#{commentsType},</if>
            <if test="commentsContent != null">comments_content=#{commentsContent}</if>
        </set>
        WHERE comments_id=#{commentsId}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM comments WHERE comments_id = #{commentsId}
    </delete>
</mapper>